title: Harlem Education History Project
subtitle: migration underway
author:
  name: Wax user
  email: harlemedhistory@tc.columbia.edu
description: A collaborative investigation into schooling and learning in 20th century Harlem.

baseurl: "/hehptest"

# --------------------------------------------------------------
# COLLECTION SETTINGS
# --------------------------------------------------------------
# Wax leverages Jekyll collections for much of its
# functionality, therefor some of the keys below are from
# Jekyll while others are Wax-specific.
# For more info, refer to:
# ~> https://jekyllrb.com/docs/collections/

collections:
  exhibits:
    output: true
  exh: # name of collection
    output: true # makes sure pages are output as html files
    layout: "exh_item" # the layout for the pages to use
    metadata:
      source: "exh.csv" # path to the metadata file within `_data`
    images:
      source: "raw_images/exh" # path to the directory of images within `_data`
  oh: # name of collection
    output: true # makes sure pages are output as html files
    layout: "oh_item" # the layout for the pages to use
    metadata:
      source: "oh.csv" # path to the metadata file within `_data`
    images:
      source: "raw_images/oh" # path to the directory of images within `_data`
  maa: # name of collection
    output: true # makes sure pages are output as html files
    layout: "item" # the layout for the pages to use
    metadata:
      source: "maa.csv" # path to the metadata file within `_data`
    images:
      source: "raw_images/maa" # path to the directory of images within `_data`

# --------------------------------------------------------------
# SEARCH INDEX SETTINGS
# --------------------------------------------------------------
# You can create multiple search indexes below (though only one is
# recommended!) by specifying
# an `index` file to write it to and some `collections` for it to index
# and running `$ bundle exec rake wax:search` .

search:
  main:
    index: "/search/index.json" # file the index will get written to
    collections:
      qatar:
        content: true # whether or not to index page content
        fields: # the metadata fields to index
          - artist
          - location
          - label
          - _date
          - object_type
          - current_location

# --------------------------------------------------------------
# SITE MENU SETTINGS
# --------------------------------------------------------------
# Each menu item needs a `label` (whats shown), and a `link`
# (where it goes). An item can optionally have a dropdown
# submenu via `sub`.

menu:
  - label: "Exhibits"
    sub:
      - label: "Barbara Wilson-Brooks and Her Harlem Community"
        link: "/exhibits/wasserman/"
  - label: "Browse"
    link: "/collection/"
  - label: "Search"
    link: "/search/"
  - label: "About"
    link: "/about/"
